@import "./variables.scss";


.form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin: 30px 0;

    .checkboxContainer {
        width: 100%;
        border-radius: 10px;
        border: 1px solid $light-grey;
        padding: 15px 20px;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
            border-color: $blue;
            transition: all ease .2s;
        }

        &.active {
            border-color: $blue;
            background-color: $blue-grey;
        }

        .checkbox {
            margin-right: 20px;
            width: 18px;
            height: 16px;
            -webkit-appearance: none;
            appearance: none;
            border: 1px solid $light-grey;
            border-radius: 4px;
            cursor: pointer;
            position: relative;

            &:checked {
                background-color: $purplish-blue;
                border-color: $purplish-blue;

                &::before {
                    content: '';
                    display: block;
                    width: 14px;
                    height: 14px;

                    position: absolute;
                    background-image: url("/icon-checkmark.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 12px 9px;
                }
            }
        }

        .content {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .title {
                font-size: 15px;
                margin-bottom: 5px;
            }

            .price,
            .description {
                font-size: 14px;
                margin-top: 5px;
            }

            .price {
                color: $purplish-blue;
            }

            .description {
                color: $grey;
            }
        }
    }
}