
// Primary

$blue:#02295a;
$purplish-blue: #473dff;
$pastel-blue: #adbeff;
$light-blue: #bfe2fd;
$red: #ed3548;

//Secondary

$gray: #9699ab;
$light-grey: #d6d9e6;
$blue-grey: #f0f6ff;
$alabaster: #fafbff;
$white: #ffffff;
